.create-modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(var(--background-color), 0.7);
  box-sizing: border-box;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 99;
}

.create-modal > .create-modal-container {
  display: flex;
  position: relative;
  width: 600px;
  height: auto;
  background: rgb(var(--background-color));
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: var(--border-radius);
  padding: var(--safe-zone);
}

.create-modal > .create-modal-container > .group {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  margin: 20px 0 0 0;
  background-color: rgb(var(--background-color-accent-light));
  border-radius: var(--border-radius);
}

.create-modal > .create-modal-container > h2 {
  font-size: 2rem;
  margin: 15px 0;
  white-space: nowrap;
}

.create-modal > .create-modal-container > .group.buttons {
  display: grid;
  position: relative;
  width: 100%;
  height: 60px;
  margin: 20px 0 40px 0;
  background-color: transparent;
  border-radius: 0px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.create-modal > .create-modal-container > .group > input[type="text"] {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 0;
  outline: none;
  border: 1px solid transparent;
  background: transparent;
  font-size: 1.3rem;
  color: rgb(var(--color-priamry));
}

.create-modal > .create-modal-container > .group > span {
  display: block;
  position: absolute;
  top: 50%;
  left: 22px;
  color: rgb(var(--color-secondary));
  pointer-events: none;
  font-size: 0.8rem;
  opacity: 0.6;
  transition: all 0.1s ease;
  transform: translateY(-50%);
}

.create-modal > .create-modal-container > .group > input[type="text"]:focus ~ span,
.create-modal > .create-modal-container > .group > input[type="text"]:not(:focus):valid ~ span {
  top: 4px;
  transform: translateY(0);
}

.create-modal > .create-modal-container button {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  margin: 20px 0 0 0;
  background-color: rgb(var(--background-color-accent-lighter));
  color: rgb(var(--color-primary));
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.create-modal > .create-modal-container button.primary {
  background-color: rgb(var(--color-accent));
}
