@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@100;300;400;700&family=Newsreader:wght@300&display=swap');
@import url(//db.onlinewebfonts.com/c/84fcffe418c461d3396adf09658b5c17?family=Kallio);
@import url(//db.onlinewebfonts.com/c/d15613cdc186717b8c23f02392ce876b?family=Cloister+Black);
@import url('https://unpkg.com/css.gg/icons/all.css');

:root {
  --background-color: 13, 14, 20;
  --background-color-accent: 40, 42, 56;
  --background-color-accent-light: 49, 54, 70;
  --background-color-accent-lighter: 83, 91, 106;
  
  --color-primary: 240, 240, 250;
  --color-secondary: 154, 165,  184;
  --color-accent: 0, 144, 252;
  --color-green: 0, 219, 103;
  --color-red: 253, 0, 69;

  --nav-height: 90px;
  --border-radius: 6px;
  --safe-zone: 40px;
}

html, body {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(var(--background-color));
  color: rgb(var(--color-primary));
  font-family: 'Kallio', sans-serif;
}

#root, .App {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}